# EIS
EXPO_PUBLIC_API_URL=datafetcherurl
EXPO_PUBLIC_API_OAUTH_URL=oauthurl
EXPO_PUBLIC_APP_NAME=MeghEIS
EXPO_PUBLIC_APP_SK=
EXPO_PUBLIC_APP_IV=
EXPO_PUBLIC_APP_ID=
EXPO_PUBLIC_BASIC_AUTH=
# -----------------------------------------------------------------------------------------------------------------------------
# APP Config
EXPO_PUBLIC_APP_VERSION="1.0.0"
EXPO_PUBLIC_HTTP_PROVIDER="re"
EXPO_PUBLIC_APP_VARIANT='development'
